.accordion {
  border: $border-width solid $accordion-border-color;
}


// Padding
.accordion-header,
.accordion-block {
  padding: $accordion-head-pad-y $accordion-head-pad-x;
}

// Borders
.accordion-header {
  cursor: pointer;
  border-top: $border-width solid $accordion-border-color;
  transition: all $transition-fast;

  .accordion-title {
    font-weight: $accordion-head-font-weight-active;
  }

  &.collapsed {
    background-color: $accordion-head-bg;

    &:hover {
      background-color: $accordion-head-bg-hover;
    }

    .accordion-title {
      font-weight: $accordion-head-font-weight;
    }
  }

  .accordion > .card:first-of-type > & {
    border-top: 0; // Reset border for first section's header
  }
}

// Headings
.accordion-title {
  position: relative;
  margin: 0;
  font-size: $accordion-head-font-size;
  color: $accordion-head-color;
  text-align: inherit;

  &::before {
    @extend %icon-base;
    position: absolute;
    right: 0;
    top: 0;
    content: map-get($_icons-map, 'chevron-up');
    transition: transform $transition-fast;
  }

  .collapsed &::before {
    transform: rotate(180deg);
  }
}

///
/// Dark background
///

.sidebar .accordion,
.accordion.bg-dark {
  background-color: $accordion-dark-bg;
  border: 0;

  .card {
    background-color: $accordion-dark-active-bg;    
  }

  .accordion-header {
    border: 0;

    .accordion-title {
      color: $atmosphere-300;
      font-weight: $accordion-head-font-weight-active;
    }

    &.collapsed {
      background-color: $accordion-dark-bg;

      .accordion-title {
        color: $white;
      }
    }
  }
}

// Reset card styles (`.card` class required in markup by Bootstrap JS plugin)
.accordion > .card {
  background-color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

