.accordion {
  border: $border-width solid $accordion-border-color;

  ///
  /// Dark background
  ///

  .bg-dark &,
  &.bg-dark {
    background-color: $accordion-dark-active-bg;
    border: 0;

    .accordion-header {
      background-color: $accordion-dark-active-bg;
      border: 0;

      &.collapsed {
        background-color: $accordion-dark-header-bg;
      }


      .accordion-title {
        color: rgba(#fff, .8);
      }

      &:not(.collapsed) .accordion-title {
        color: $teal;
      }

    }
  }
}

// Visiblility
.accordion-block {
  &.collapse {
    display: none;
    height: 0;
    visibility: hidden;
  }

  &.collapsing,
  &.collapse.in {
    display: block;
    visibility: visible;
    overflow: hidden;
    height: auto;
    transition: height $transition-fast;
  }
}

// Padding
.accordion-header,
.accordion-block {
  padding: $accordion-head-pad-y $accordion-head-pad-x;
}

// Borders
.accordion-header {
  background-color: $accordion-head-bg;
  cursor: pointer;

  .accordion-block + & {
    border-top: $border-width solid $accordion-border-color;
  }
}

// Headings
.accordion-title {
  position: relative;
  margin: 0;
  font-size: $accordion-head-font-size;
  font-weight: $accordion-head-font-weight;
  color: $link-color;
  text-align: inherit;

  &::before {
    @extend %icon-base;
    position: absolute;
    right: 0;
    top: 0;
    content: map-get($_icons-map, 'chevron-up');
    transition: transform $transition-fast;
  }

  .collapsed &::before {
    transform: rotate(180deg);
  }
}


