.bg-light {
  @include bg-color($bg-color: $gray-50);
}

.bg-dark {
  @include bg-color($bg-color: $gray-700, $text-color: #fff);

  .btn-primary,
  .btn-secondary {
    &,
    &:hover,
    &:active {
      border-color: transparent;
    }
  }

  .btn-secondary {
    &,
    &:active,
    &:visited {
      color: $link-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }
}
