.breadcrumb {
  padding-left: 0;

  > li {
    display: inline-block;
    list-style-type: none;

    + li {
      &::before {
        @extend %icon-base;

        display: inline-block;
        padding-left: $breadcrumb-spacing;
        padding-right: $breadcrumb-spacing;
        content: map-get($_icons-map, 'chevron-right');
        vertical-align: top;
      }
    }
  }
}