.btn {
  display: inline-block;
  padding: $btn-padding-top $btn-padding-horizontal $btn-padding-bottom;
  border: $border-width solid transparent;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: all $transition-fast;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover,
  &.hover {
    box-shadow: $shadow-hover;
  }

  &:focus {
    outline: none;
  }

  &:active,
  &.active {
    box-shadow: $shadow-active;
  }

  &:disabled,
  &.disabled {
    border-color: transparent;
    box-shadow: none;
    cursor: not-allowed;
  }
}

@each $btn-name, $btn-props in $btn-variants {
  .btn-#{ $btn-name } {
    border-color: map-get($btn-props, border-color);
    background-color: map-get($btn-props, bg);

    &,
    &:hover,
    &:focus {
      color: map-get($btn-props, color);
    }

    &:hover,
    &.hover {
      border-color: transparent;
    }

    &:active,
    &.active {
      background-color: map-get($btn-props, bg-active);
      color: map-get($btn-props, color-active);
    }

    &:disabled,
    &.disabled {
      background-color: map-get($btn-props, bg-disabled);
      color: map-get($btn-props, color-disabled);
    }
  }
}
