.button {
  display: inline-block;
  padding: $padding-base-vertical $padding-base-horizontal;
  border: $border-width solid transparent;
  font-family: $font-family-sans-serif;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: box-shadow $transition-fast,
              background-color $transition-fast,
              border-color $transition-fast,
              color $transition-fast;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    box-shadow: $shadow-hover;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: $shadow-active;
  }

  &:disabled {
    border-color: transparent;
    box-shadow: none;
    cursor: not-allowed;
  }
}

@each $button-name, $button-props in $button-variants {
  .button-#{ $button-name } {
    border-color: map-get($button-props, border-color);
    background-color: map-get($button-props, bg);

    &,
    &:hover,
    &:focus {
      color: map-get($button-props, color);
    }

    &:hover {
      border-color: transparent;
    }

    &:active {
      background-color: map-get($button-props, bg-active);
      color: map-get($button-props, color-active);
    }

    &:disabled {
      background-color: map-get($button-props, bg-disabled);
      color: map-get($button-props, color-disabled);
    }
  }
}
