///
/// Wrapper for the slide container and indicators
///

.carousel {
  position: relative;

  .billboard {
    margin-bottom: 0;
  }
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding-bottom: $component-height; // Make room for carousel indicators
  }

  > .carousel-item {
    position: relative;
    display: none;
    transition: left $transition-medium;

    /// Account for jankitude on images
    > img,
    > a > img {
      @extend .img-fluid;
      line-height: 1;
    }

    /// WebKit CSS3 transforms for supported devices
    @media all and (transform-3d), (-webkit-transform-3d) {
      transition: transform $transition-medium;
      backface-visibility: hidden;
      perspective: 1000px;

      &.next,
      &.active.right {
        left: 0;
        transform: translate3d(100%, 0, 0);
      }
      &.prev,
      &.active.left {
        left: 0;
        transform: translate3d(-100%, 0, 0);
      }
      &.next.left,
      &.prev.right,
      &.active {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }

    @include media-breakpoint-down(sm) {
      padding-top: 6.5rem; // Make the carousel taller on mobile
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;

    &.left {
      left: -100%;
    }

    &.right {
      left: 100%;
    }
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }
}


///
/// Carousel position indicators
///

.carousel-indicators {
  position: absolute;
  bottom: $grid-gutter-width-base;
  left: 50%;
  z-index: 15;
  width: 80%;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -40%;
  text-align: center;
  list-style: none;

  li {
    display: inline-block;
    width: $carousel-indicator-size;
    height: $carousel-indicator-size;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: $carousel-indicator-inactive-bg;
    border-radius: 50%;
    transition: all $transition-fast;

    &:hover,
    &.active {
      background-color: $carousel-indicator-active-bg;
      box-shadow: $shadow-border;
    }

    + li {
      margin-left: $carousel-indicator-size;
    }
  }


}

///
/// Carousel controls (left/right)
///

.carousel-control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: $carousel-control-width;
  height: $carousel-control-width;
  margin-top: (-$carousel-control-width / 2);
  border-radius: 50%;
  background-color: $carousel-control-bg;
  color: $carousel-control-color;
  opacity: 0;
  transition: opacity $transition-fast,
              background-color $transition-fast;

  &.left {
    left: $carousel-control-margin;
  }

  &.right {
    right: $carousel-control-margin;
  }

  .carousel:hover & {
    opacity: 1;
  }

  // Hover/focus state
  @include hover-focus {
    text-decoration: none;
    outline: 0;
    color: $carousel-control-color;
  }

  &:hover {
    background-color: $carousel-control-bg-hover;
  }

  // Toggles
  .icon-prev,
  .icon-next {
    @extend %icon-base;

    font-size: $carousel-control-font-size;
  }

  .icon-prev::before {
    content: map-get($_icons_map, 'chevron-left');
  }

  .icon-next::before {
    content: map-get($_icons_map, 'chevron-right');
  }
}


///
/// Dark background
///

.carousel-dark {
  border: 0;
  background-color: rgba($brand-primary, .8);
  color: #fff;

  .btn-primary {
    @extend .btn-secondary;
    border: 0;
  }
}

