.card {
  background-color: $card-bg;
  box-shadow: $shadow-hover;
}

.card-block {
  padding: $card-inner-padding;

  & + & {
    padding-top: 0;
  }
}

.card-footer {
  padding: ($card-inner-padding / 2) $card-inner-padding;
  background-color: $neutral;
}



///
/// Card heading
///

.card-title {
  margin-top: $spacer;
  margin-bottom: 0;
}

.card-caption {
  margin-top: 0;
  margin-bottom: 0;
  color: $text-muted;
}



///
/// Card states
///

@each $state, $state-props in $alert-states {
  $state-bg: map-get($state-props, bg);

  .card-#{ $state } {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      content: '';
      width: 100%;
      height: .75rem;
      background-color: $state-bg;
    }
  }
}
