.card {
  @if $enable-flex {
    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: column;
    }
  }

  margin-bottom: $grid-gutter-width-base;
  border: $border-width solid $card-border-color;
  background-color: $card-bg;
  transition: all $transition-fast;
}


///
/// Card main sections
///

.card-header,
.card-block,
.card-footer {
  @include clearfix;
  padding-right: $card-spacer-x;
  padding-left: $card-spacer-x;
}

.card-header,
.card-block {
  padding-top: $card-spacer-y;
  padding-bottom: $card-spacer-y;
}

.card-header + .card-block {
  padding-top: 0;
}

.card-block {
  @if $enable-flex {
    @include media-breakpoint-up(sm) {
      flex-grow: 1;
    }
  }

  + .card-block {
    padding-top: 0;
  }
}

.card-text-center {
  .card-header,
  .card-block {
    text-align: center;
  }
}

.card-footer {
  background-color: $card-cap-bg;
  height: $card-cap-height;

  @if $enable-flex {
    display: flex;
    flex-direction: row;
    align-items: center;

    .card-cta {
      flex-grow: 1;
    }
  } @else {
    @include clearfix;

    .card-cta {
      float: left;
    }

    .card-actions {
      float: right;
    }
  }

  .card-actions {
    .icon {
      font-size: $font-size-lg;
    }
  }

  .btn-link + .btn-link {
    margin-left: 0;
  }
}


///
/// Card title and caption
///

.card-title {
  @extend .h1;
  line-height: 1;
  margin-top: $card-spacer-y;
  margin-bottom: 0;
}

.card-caption {
  margin-top: .375rem;
  margin-bottom: 0;
  color: $text-muted;
  font-size: $font-size-sm;
}


///
/// Card deck
///

@if $enable-flex {
  @include media-breakpoint-up(sm) {
    .card-deck {
      display: flex;
      flex-flow: row wrap;
      margin-right: (-$grid-gutter-width-base / 2);
      margin-left: (-$grid-gutter-width-base / 2);

      .card {
        flex: 1 0 0;
        margin-right: ($grid-gutter-width-base / 2);
        margin-left: ($grid-gutter-width-base / 2);
      }
    }
  }
} @else {
  @include media-breakpoint-up(sm) {
    .card-deck {
      display: table;
      table-layout: fixed;
      border-spacing: ($grid-gutter-width-base / 2) 0;

      .card {
        position: relative;
        display: table-cell;
        width: 1%;
        padding-bottom: 3rem;
        vertical-align: top;
      }

      .card-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
    .card-deck-wrapper {
      margin-right: (-$grid-gutter-width-base / 2);
      margin-left: (-$grid-gutter-width-base / 2);
    }
  }
}


///
/// Card states
///

// @each $state, $state-props in $alert-states {
//   $state-bg: map-get($state-props, bg);

//   .card-#{ $state } {
//     position: relative;
//     &::before {
//       position: absolute;
//       top: 0;
//       content: '';
//       width: 100%;
//       height: $card-spacer-y;
//       background-color: $state-bg;
//       box-shadow: 0 ($card-spacer-y / 2) 0 0 transparentize($state-bg, .5);
//     }
//   }
// }
