$atmosphere: rgb(50, 181, 252);
$blue: rgb(41, 117, 233);
$teal: rgb(62, 214, 207);
$gray: rgb(43, 58, 67);
$charcoal: rgb(58, 79, 89);
$neutral: rgb(247, 245, 244);
$yellow: rgb(236, 219, 93);
$coral: rgb(247, 80, 64);
$orange: rgb(247, 146, 46);
$green: rgb(44, 192, 57);
$navy: rgb(36, 94, 183);
$ice-blue: rgb(50, 181, 252);
$aqua: rgb(64, 190, 186);