.dropdown {

}

.dropdown-toggle {
  position: relative;
  padding: $dropdown-toggle-padding;
  background: none;
  border: 0;
  color: $link-color;
  outline: none;

  &::after {
    @extend %icon-base;

    margin-left: .125rem;
    content: map-get($_icons-map, expand);
    vertical-align: bottom;
  }

  &:focus + .dropdown-menu {
    display: block;
  }

  &:focus {
    outline: none;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: $zindex-popover;
  padding: 0;
  background: $dropdown-menu-bg;
  box-shadow: $shadow-hover;

  > li {
    list-style-type: none;

    + li {
      border-top: 1px solid $gray-lighter;
    }

    > a {
      display: block;
      padding: $dropdown-item-padding;
      transition: all $transition-fast;

      &:link,
      &:visited {
        color: $dropdown-menu-color;
      }

      &:hover,
      &:active {
        background-color: $dropdown-menu-bg-hover;
        color: $dropdown-menu-color-hover;
        text-decoration: none;
      }
    }
  }
}
