$font-faces: (
  'Proxima Nova': (
    path: '//cdn.ims.io/design/font/0.5/proxima-nova/',
    weights: (
      thin: (
        name: 'proximanova-thin',
        weight: map-get($font-weights, thin),
        id: 'proxima_novathin',
        style: normal
      ),
      regular: (
        name: 'proximanova-regular',
        weight: map-get($font-weights, normal),
        id: 'proxima_novaregular',
        style: normal
      ),
      regular-italic: (
        name: 'proximanova-regularitalic',
        weight: map-get($font-weights, normal),
        id: 'proxima_novaregular_it',
        style: italic
      ),
      semibold: (
        name: 'proximanova-semibold',
        weight: map-get($font-weights, semi-bold),
        id: 'proxima_novasemibold',
        style: normal
      )
    )
  ),
  'Merriweather': (
    path: '//cdn.ims.io/design/font/0.5/merriweather/',
    weights: (
      regular: (
        name: 'merriweather-regular',
        weight: map-get($font-weights, normal),
        style: normal
      )
    )
  )
);
