.form-group {
  @include clearfix();
  margin-bottom: $spacer;
}


.control-label {
  &.disabled {
    color: $gray;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: $form-padding-top $form-padding-horizontal $form-padding-bottom;
  border: $form-border-width solid $gray-lighter;
  font-size: $form-font-size;
  line-height: $form-line-height;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all $transition-fast;
  height: $form-height;

  &,
  &:placeholder-shown {
  }

  // @FIXME we need a more noticeable focus indicator
  &:focus,
  &.focus {
    border-color: transparent;
    outline: none;
    box-shadow: $shadow-hover;
  }

  &:disabled,
  &.disabled {
    background-color: $gray-lightest; // @TODO: replace with light gray from palette
    box-shadow: none;
    cursor: not-allowed;
  }
}

.has-success,
.has-warning,
.has-danger {
  .form-control {
    position: relative;
    z-index: 1;
    border-color: $brand-danger;
  }
  .form-msg {
    @extend .alert;
    // @TODO: Replace with `.alert-sm` once that's ready
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

@each $state, $props in $alert-states {
  $state-bg: map-get($props, bg);

  .has-#{ $state } {
    .form-control {
      border-color: $state-bg;
    }
    .form-msg {
      @extend .alert-#{ $state };
    }
  }  
}



///
/// Checkbox and Radio controls
///

input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  opacity: 0;

  + label {
    display: inline-block;
    cursor: pointer;

    &::before {
      @extend .icon;

      display: inline-block;
      content: '';
      width: $checkbox-size;
      height: $checkbox-size;
      margin-right: $checkbox-size / 3;
      font-size: $checkbox-size;
      line-height: $checkbox-size;
      text-align: center;
      vertical-align: top;
      transition: all $transition-fast;
    }
  }

  &:checked + label::before {
    color: $checkbox-color;
  }

  &,
  & + label {
    cursor: pointer;
  }

  // &:hover + label::before {
  //   box-shadow: $shadow-hover;
  // }

  // &:active + label::before {
  //   box-shadow: $shadow-active;
  // }

  &:disabled {
    &,
    + label,
    + label::before {
      color: lighten($charcoal, 40%);
      cursor: not-allowed;
    }
    + label::before,
    &:hover + label::before {
      // background-color: $gray-lighter;
      box-shadow: none;
    }
  }
}

input[type="checkbox"] {
  + label::before {
    content: map-get($_icons-map, box-unchecked);
  }
  
  &:checked + label::before {
    content: map-get($_icons-map, box-checked);
  }
}

input[type="radio"] {
  + label::before {
    content: map-get($_icons-map, radio-unchecked);
    border-radius: 50%;
  }
  &:checked + label:before {
    content: map-get($_icons-map, radio-checked);
  }
}

