.form-group {
  @include clearfix();
  margin-bottom: $spacer;
}

.form-field {
  display: block;
  width: 100%;
  padding: $form-padding-top $form-padding-horizontal $form-padding-bottom;
  border: $border-width solid $gray-lighter;
  font-size: $form-font-size;
  line-height: $form-line-height;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all $transition-fast;
  height: $form-height;

  &,
  &:placeholder-shown {
  }


  &:focus,
  &.focus {
    border-color: transparent;
    outline: none;
    box-shadow: $shadow-hover;
}

  &:disabled,
  &.disabled {
    background-color: $gray-lighter;
    box-shadow: none;
    cursor: not-allowed;
  }

  & + & {
    margin-top: $font-size-base;
  }
}


