@import '_props/icons.map';

$icon-family: 'apollo-icons';
$icon-cdn-path: '/font/';
$icon-filename: 'apollo-icons';
$icon-svg-id: $icon-family;

@include font-face($family: $icon-family, $path: $icon-cdn-path, $svg-id: $icon-svg-id, $filename: $icon-filename);

// Base icon definition
%icon-base {
  display: inline-block;
  font-family: $icon-family;
  font-size: inherit;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  text-rendering: auto;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon-base;
}

// Iterate through `$icons` map and create class for each character
@each $name, $character in $_icons-map {
  .icon-#{ $name }::before {
    content: $character;
  }
}
