@mixin font-face($family, $path, $svg-id) {
  @font-face {
    font-family: $family;
    src: url('#{ $path }.eot');
    src: url('#{ $path }.eot?#iefix') format('embedded-opentype'),
         url('#{ $path }.woff') format('woff'),
         url('#{ $path }.ttf') format('truetype'),
         url('#{ $path }.svg##{ $svg-id }') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
