///
/// Disable scrolling on body when modal is open
///

.modal-open {
  overflow: hidden;
}


///
/// Modal container (for page layout)
///

.modal {
  z-index: $zindex-modal;
  overflow-x: hidden;
  overflow-y: auto;

  &,
  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.fade {
    display: none;

    &.in {
      display: block;
    }
  }


  ///
  /// Modal contents (for content area)
  ///

  &-dialog {
    position: relative; // For close button
    padding: $modal-inner-padding;
    margin: $grid-gutter-width / 2;
    background-color: $modal-content-bg;
    box-shadow: $shadow-hover;
    opacity: .5;
    transition: opacity $transition-fast,
                transform $transition-fast;
    transform: scale(.95);

    .fade.in & {
      opacity: 1;
      transform: scale(1);
    }
  }

  &-header {
    // TODO: add styles as needed
  }

  &-footer {
    margin-top: $modal-inner-padding;
    & .btn + .btn {
      margin-left: $grid-gutter-width / 2;
    }
  }


}


///
/// Full-width images
///

.modal-image-full {
  margin-left: -$modal-inner-padding;
  margin-right: -$modal-inner-padding;

  // Add margin when adjacent to modal header or body
  & + .modal-header,
  & + .modal-body {
    margin-top: $modal-inner-padding;
  }

  &.modal-image-top {
    margin-top: -$modal-inner-padding;
  }
}


///
/// Backdrop (take page out of focus when open)
///

.modal-backdrop {
  z-index: $zindex-modal-bg;
  cursor: pointer;
  transition: all $transition-fast;

  &.in {
    background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
  }
}


///
/// Size variations
///

.modal-dialog {
  @include media-breakpoint-up(sm) {
    max-width: $modal-md;
    margin: 5rem auto;

    .modal-sm & {
      max-width: $modal-sm;
    }
  }

  // Large option for middle-size screens and up
  @include media-breakpoint-up(md) {
    .modal-lg & {
      max-width: $modal-lg;
    }
  }

  // Login form variation
  .modal-login & {
    max-width: $login-max-width;
  }
}

