.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  border: $border-width solid $table-border-color;

  th,
  td {
    padding: $table-cell-padding;
    line-height: $line-height;
    vertical-align: top;
    // border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    font-weight: $font-semi-bold;
    vertical-align: bottom;
    // border-bottom: (2 * $table-border-width) solid $table-border-color;
    background-color: $table-header-bg;
    color: $table-header-color;
  }

  tbody tr {

    &:nth-of-type(even) {
      background-color: $table-bg-accent;
    }
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .table {
    background-color: $body-bg;
  }
}


//
// Condensed table w/ half padding
//

.table-sm {
  th,
  td {
    padding: $table-sm-cell-padding;
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

// .table-bordered {
//   border: $table-border-width solid $table-border-color;

//   th,
//   td {
//     border: $table-border-width solid $table-border-color;
//   }

//   thead {
//     th,
//     td {
//       border-bottom-width: (2 * $table-border-width);
//     }
//   }
// }


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  tbody tr {
    border-left: .1875rem solid transparent;  // ~3px
    transition: all $transition-fast;

    @include hover {
      background-color: $table-bg-hover;
      border-left-color: $link-color;
      cursor: pointer;
    }
  }
}


// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
  display: block;
  width: 100%;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  overflow-x: auto;

  // TODO: find out if we need this still.
  //
  // border: $table-border-width solid $table-border-color;
  // -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
}
