.toolbar {
  position: relative;
  z-index: $zindex-navbar;
  height: $toolbar-height;
  overflow: hidden;
  background-color: $toolbar-bg;
  box-shadow: $shadow-hover;

  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }

  .toolbar-brand,
  .toolbar-item > a {
    &,
    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $toolbar-link-color;
    }
  }

  .toolbar-brand {
    display: block;
    float: left;
    padding-top: $toolbar-brand-padding-y;
    padding-bottom: $toolbar-brand-padding-y;
    margin-right: $grid-gutter-width;
    font-size: $toolbar-brand-size;
    line-height: 1;
  }

  .toolbar-links {
    @include clearfix();
    display: block;
    float: left;
    padding-left: 0;
    margin-bottom: 0;
  }

  .toolbar-item {
    display: block;
    float: left;

    > a {
      display: block;
      font-size: $toolbar-link-size;
      line-height: 1;
      padding: $toolbar-link-padding-y $toolbar-link-padding-x;
    }

    &.active > a {
      // background-color: darken($toolbar-bg, 10%);
    }
  }

  &.toolbar-fixed-top {
    position: fixed;
    width: 100%;
  }

  &.toolbar-jumbo {
    height: $toolbar-jumbo-height;

    .toolbar-brand {
      padding-top: $toolbar-jumbo-brand-padding-y;
      padding-bottom: $toolbar-jumbo-brand-padding-y;
    }

    .toolbar-item {
      > a {
        padding-top: $toolbar-jumbo-link-padding-y;
        padding-bottom: $toolbar-jumbo-link-padding-y;
      }
    }
  }
}

// Utility for when using toolbar-fixed-top
.padding-top-toolbar {
  padding-top: $toolbar-height;

  &-jumbo {
    padding-top: $toolbar-jumbo-height;
  }
}
