.toolbar {
  position: relative;
  z-index: $zindex-navbar;
  height: $toolbar-height;
  background-color: #fff;
  box-shadow: $shadow-hover;

  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }

  &.toolbar-fixed-top {
    position: fixed;
    width: 100%;
  }

  // Jumbo variation
  &.toolbar-jumbo {
    height: $toolbar-jumbo-height;

    .toolbar-brand {
      margin-top: $toolbar-jumbo-brand-margin-top;
    }

    .toolbar-item {
      > a {
        margin-top: $toolbar-jumbo-link-margin-top;
      }
    }
  }

}

///
/// Brand (application name)
///

.toolbar-brand {
  display: block;
  float: left;
  width: $toolbar-brand-width;
  padding-top: $toolbar-link-padding-top;
  padding-bottom: $toolbar-link-padding-bottom;
  margin-top: $toolbar-brand-margin-top;
  font-size: $toolbar-brand-font-size;
  text-align: center;
  line-height: 1;
}

///
/// Links (nav menu)
///

.toolbar-links {
  @include clearfix();
  display: block;
  float: left;
  padding-left: 0;
  margin-bottom: 0;
}

.toolbar-item {
  display: block;
  float: left;

  > a {
    display: block;
    font-size: $toolbar-link-font-size;
    line-height: 1;
    margin-top: $toolbar-link-margin-top;
    padding: $toolbar-link-padding-top $toolbar-link-padding-x $toolbar-link-padding-bottom;
  }

  &.active > a {
    // background-color: darken($toolbar-bg, 10%);
  }
}

///
/// User profile
///

.toolbar-profile {
  position: relative;
  float: right;
  margin-top: $profile-margin-top;
  text-align: right;

  .profile-username,
  .profile-company {
    display: block;
    margin-right: $profile-img-size + ($grid-gutter-width / 2);
    line-height: 1.2;
  }

  .profile-username {
    font-size: $toolbar-link-font-size;
  }

  .profile-company {
    font-size: $toolbar-link-font-size * .85;
  }

  .profile-image {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: $profile-img-size;
    height: $profile-img-size;
    padding-top: calc-padding-y($profile-img-size, $profile-img-text-size);
    margin-top: -($profile-img-size / 2);
    font-size: $profile-img-text-size;
    line-height: 1.1;
    text-align: center;
    border-radius: 50%;
  }
}

// Utility for when using toolbar-fixed-top
.padding-top-toolbar {
  padding-top: $toolbar-height;

  &-jumbo {
    padding-top: $toolbar-jumbo-height;
  }
}

@each $variant, $props in $toolbar-variants {
  .toolbar-#{ $variant } {
    background-color: map-get($props, bg);

    .toolbar-brand,
    .toolbar-item > a {
      &,
      &:hover,
      &:active,
      &:focus,
      &:visited {
        color: map-get($props, color);
      }
    }

    // Dropdown lists
    @if map-get($props, dark) {
      .toolbar-item > .dropdown-toggle:focus {
        color: $teal;
      }
    }


    // User profile section
    .profile-username {
      font-size: $toolbar-link-font-size;
      color: map-get($props, color);
    }

    .profile-company {
      font-size: $toolbar-link-font-size * .85;
      color: map-get($props, color-subdued);
    }

    .profile-image {
      background-color: map-get($props, color);
      color: map-get($props, bg);
    }
  }
}
