html {
  font-weight: $font-weight-base;
}

///
/// Headings
///

.heading-hero,
h1,
.h1 {
  font-weight: $font-light;
}

.heading-hero {
  font-size: $font-size-hero;
}


///
/// Description Lists
///

td > dl {
  margin-bottom: 0;
}

dt {
  color: $link-hover-color;
}

dd {
  margin-bottom: $spacer-y;
}

.dl-horizontal {
  @include make-row;
}