html {
  font-weight: $font-weight-base;
}

///
/// Headings
///

.heading-hero,
h1,
.h1 {
  font-weight: $font-thin;
}

h2,
.h2,
h3,
.h3 {
  font-weight: $font-light;
}

.heading-hero {
  font-size: $font-size-hero;
}


.heading-marketing {
  font-family: $font-family-serif;

  &.heading-hero {
    font-weight: $font-light;
  }
}

h4.heading-marketing,
.h4.heading-marketing {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

///
/// Description Lists
///

td > dl {
  margin-bottom: 0;
}

dt {
  color: $blue-125;
}

dd {
  margin-bottom: $spacer-y;
}

.dl-horizontal {
  @include make-row;
}