@import 'color-variables';


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true !default;
// $enable-rounded:            true !default;
// $enable-shadows:            false !default;
// $enable-gradients:          false !default;
// $enable-transitions:        false !default;
// $enable-hover-media-query:  false !default;
// $enable-grid-classes:       true !default;


///
/// Spacing
///

$spacer: 1rem;

///
/// Colors
///

$body-color: $charcoal;

$brand-primary: $blue;
$brand-success: $green;
$brand-warning: $yellow;
$brand-danger: $coral;

// Links
//
// Style anchor elements.

$link-color:                 $blue;
$link-decoration:            none;
$link-hover-color:           darken($link-color, 15%);
$link-hover-decoration:      underline;



///
/// Typography
///

// Font families
$font-family-sans-serif: 'Proxima Nova', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

// Sizing scale
$font-size-root: 16px;          // Applies to `<html>` element

$font-size-base: 1rem;          // ~16px
$font-size-lg:   1.5rem;        // ~24px
$font-size-sm:   .875rem;       // ~14px
$font-size-xs:   .75rem;        // ~12px

$font-size-h1: 5.063rem;        // ~81px
$font-size-h2: 3.375rem;        // ~54px
$font-size-h3: 2.25rem;         // ~36px
$font-size-h4: $font-size-lg;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-sm;

// Weights
$font-thin: 100;
$font-normal: 400;
$font-semi-bold: 600;

$line-height: 1.5;


///
/// Transitions
///

$transition-fast: .25s cubic-bezier(0, 0, .5, 1);


///
/// Lighting
///

$shadow-hover: 8px 8px 16px rgba(0, 0, 0, .15);
$shadow-active: 4px 4px 8px rgba(0, 0, 0, .15);


///
/// Alerts
///

// Sizing
$alert-padding-vertical: $spacer;
$alert-padding-horizontal: $grid-gutter-width / 2;
$alert-icon-size: $font-size-lg;
$alert-font-size: $font-size-base;
$alert-line-height: $alert-font-size * 1.2;
$alert-shadow-height: .625rem;  // ~10px

// Colors
$alert-states: (
  success: (
    bg: $brand-success,
    color: #fff,
    icon: 'qualified'
  ),
  warning: (
    bg: $brand-warning,
    color: null,
    icon: 'alert'
  ),
  danger: (
    bg: $brand-danger,
    color: #fff,
    icon: 'disabled'
  )
);


///
/// Forms
///

$form-height: 2rem;               // ~32px (height set manually)
$form-line-height: normal;
$form-font-size: $font-size-base; // ~16px
$form-padding-vertical: calc-padding-y($form-height, $form-font-size);
$form-padding-top: .5625rem;      // ~9px
$form-padding-bottom: .4375rem;   // ~7px
$form-padding-horizontal: .5rem;  // ~33px + border thickness = 32px
$form-border-width: .0625rem;     // ~1px

// Checkbox
$checkbox-size: 1rem;
$checkbox-border: 1px solid $gray;

// Error message
$form-msg-padding-vertical: $form-padding-vertical * 1.2;
$form-msg-padding-horizontal: $form-padding-horizontal;
$form-msg-icon-size: $font-size-lg;
$form-msg-font-size: $font-size-base;
$form-msg-line-height: $form-msg-font-size;
$form-msg-shadow-height: .625rem;  // ~10px


///
/// Buttons
///

$btn-border-width: $form-border-width;
$btn-min-width: 5.75rem;                // ~92px
$btn-padding-top: $form-padding-top - $btn-border-width;
$btn-padding-horizontal: 1.125rem;      // ~18px
$btn-padding-bottom: $form-padding-bottom - $btn-border-width;
$btn-font-size: $form-font-size;
$btn-line-height: 1;
$btn-font-weight: normal;

$btn-sm-padding-vertical: .375rem;      // ~6px;
$btn-sm-padding-horizontal: .8125rem;   // ~13px
$btn-sm-font-size: $font-size-xs;       // ~12px

$btn-touch-padding-vertical: .9375rem;  // ~15px

$btn-variants: (
  primary: (
    bg: $blue,
    color: #fff,
    border-color: transparent,
    bg-active: $navy,
    color-active: #fff,
    bg-disabled: #c5ddff,
    color-disabled: #8dbbff
  ),
  secondary: (
    bg: #fff,
    color: $charcoal,
    border-color: $gray,
    bg-active: $charcoal,
    color-active: #fff,
    bg-disabled: #fff,
    color-disabled: #b3b3b3,
    border-disabled: #e2e2e2
  )
);


///
/// Toolbar
/// 

// Sizing
$toolbar-height: 3.75rem; // ~60px
$toolbar-brand-size: $font-size-h4;
$toolbar-brand-padding-y: calc-padding-y($toolbar-height, $toolbar-brand-size);
$toolbar-link-size: $font-size-base;
$toolbar-link-padding-y: calc-padding-y($toolbar-height, $toolbar-link-size);
$toolbar-link-padding-x: $grid-gutter-width / 2;

$toolbar-jumbo-height: 5.5rem; // ~88px
$toolbar-jumbo-brand-padding-y: calc-padding-y($toolbar-jumbo-height, $toolbar-brand-size);
$toolbar-jumbo-link-padding-y: calc-padding-y($toolbar-jumbo-height, $toolbar-link-size);


// Themes
$toolbar-bg: $blue;
$toolbar-link-color: #fff;




