///
/// Colors
///

$charcoal:          #3a4f5a;
$gray:              #ced3d6;
$gray-lighter:      #e3ebef;
$atmosphere:        #25b4ff;
$atmosphere-hover:  #20a6ec;
$navy:              #1c2980;
$teal:              #37dad3;
$blue:              #297dfd;
$yellow:            #ffcf32;
$green:             #20c22f;
$coral:             #fb4f39;
$orange:            #ff940c;


///
/// Typography
///

$font-family-serif: 'Merriweather', serif;
$font-family-sans-serif: 'Proxima Nova', Helvetica, Arial, sans-serif;
