///
/// Colors
///

$charcoal:          #3a4f5a;
$gray:              #ced3d6;
$gray-lighter:      #e3ebef;
$atmosphere:        #25b4ff;
$atmosphere-hover:  #20a6ec;
$navy:              #1c2980;
$teal:              #37dad3;
$blue:              #297dfd;
$yellow:            #ffcf32;
$green:             #20c22f;
$coral:             #fb4f39;
$orange:            #ff940c;


///
/// Typography
///

$font-family-serif: 'Merriweather', serif;
$font-family-sans-serif: 'Proxima Nova', Helvetica, Arial, sans-serif;


///
/// Forms
///

$shadow-hover: 8px 8px 16px rgba(0, 0, 0, .15);
$shadow-active: 4px 4px 8px rgba(0, 0, 0, .15);
$transition-: .25s cubic-bezier(.000, .000, .500, 1);



///
/// Buttons
/// 
$btn-font-weight: normal;
$input-btn-border-width: 1px;


$btn-variants: (
  primary: (
    bg: $blue,
    color: #fff,
    bg-active: $navy,
    color-active: #fff
  ),
  secondary: (
    bg: $gray-lighter,
    color: #fff,
    bg-active: $navy,
    color-active: #fff
  )
);



