$atmosphere: #32b5fc;
$atmosphere-25: #ccecfe;
$atmosphere-50: #98dafd;
$atmosphere-125: #2688bd;
$atmosphere-150: #195b7e;
$atmosphere-175: #0d2d3f;
$blue: #297dfd;
$blue-25: #c9defe;
$blue-50: #94befe;
$blue-125: #1f5ebe;
$blue-150: #153f7f;
$blue-175: #0a1f3f;
$teal: #37dad3;
$teal-25: #cdf6f4;
$teal-50: #9bece9;
$teal-125: #29a49e;
$teal-150: #1c6d6a;
$teal-175: #0e3735;
$charcoal: #3a4f5a;
$charcoal-25: #ced3d6;
$charcoal-50: #9ca7ac;
$charcoal-125: #2c3b44;
$charcoal-150: #1d282d;
$charcoal-175: #0f1417;
$neutral: #f7f5f4;
$neutral-25: #fdfcfc;
$neutral-50: #fbfaf9;
$neutral-125: #b9b8b7;
$neutral-150: #7c7b7a;
$neutral-175: #3e3d3d;
$yellow: #ffcf34;
$yellow-25: #fff3cc;
$yellow-50: #ffe799;
$yellow-125: #bf9c27;
$yellow-150: #80681a;
$yellow-175: #40340d;
$coral: #fb4f39;
$coral-25: #fed3cd;
$coral-50: #fda79c;
$coral-125: #bc3b2b;
$coral-150: #7e281d;
$orange: #f7922e;
$orange-25: #fde4cb;
$orange-50: #fbc896;
$orange-125: #b96e23;
$orange-150: #7c4917;
$green: #43b649;
$green-25: #d0edd1;
$green-50: #a1daa4;
$green-125: #26672a;
$green-150: #225b25;