///
/// Color palette
///

.docs-color-group {
  column-gap: $grid-gutter-width;

  &-primary,
  &-secondary,
  &-functional {
    @include media-breakpoint-up(md) {
      columns: 3;
    }
  }
}


.docs-color-swatch {
  @include media-breakpoint-down(sm) {
    margin-bottom: $spacer-y * 2;
  }
}

.docs-color-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  height: 8rem;

  &:first-child {
    height: 16rem;
  }

  .docs-color-props {
    display: flex;
    justify-content: space-between;
    padding: ($spacer / 2) $spacer;
    color: #fff;
    background-color: rgba(#000,.3);
  }
}