///
/// Page Layout
///

%separator-bar {
  display: block;
  width: 2rem;
  height: $border-width * 3;
  margin-bottom: $spacer-y;
  background-color: $teal;
  content: '';
}


///
/// Page header
///

.docs-page-header {
  @include make-container;

  padding-top: 3.375rem;

  @include media-breakpoint-up(lg) {
    padding-right: percentage(1 / 12);
    padding-left: percentage(1 / 12);
  }
}


///
/// Documentation sections
///

.docs-section {
  @include make-container;
  padding-top: 3.375rem;
  padding-bottom: 3.375rem;
}

/// Title and description

.docs-section-title,
.docs-example-title {
  padding-bottom: 2.25rem;
}

.docs-section-overview {
  margin-bottom: $spacer * 3;
}

.docs-example-description {
    @include media-breakpoint-up(lg) {
    width: 50%;
  }

  .docs-section > & {
    margin-bottom: $spacer-y * 2;
  }

}

///
/// Examples
///

.docs-example-intro {
  margin-bottom: 3.375rem;
  margin-top: 1.5rem;
}

.docs-example {
  margin-bottom: 2.25rem;
  border: $border-width solid darken($neutral, 5%);
}

.docs-example-rendered {
  padding: $grid-gutter-width;
}

.docs-example-label {
  margin-bottom: 0;
  padding-bottom: $spacer-y;
}

@include media-breakpoint-up(lg) {
  .docs-section {
    padding-left: percentage(1 / 12);
    padding-right: percentage(1 / 12);
  }
}


///
/// Illustrations
///

@include media-breakpoint-up(lg) {
  .docs-illustration {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .docs-illustration-copy {
    padding-right: percentage(1 / 12);

    .docs-illustration-half & {
      flex-basis: 50%;
      max-width: 50%;
    }

    .docs-illustration-third & {
      flex-basis: percentage(1 / 3);
      max-width: percentage(1 / 3);
    }
  }
}

///
/// Hovering card style
///

@include media-breakpoint-up(md) {
  .docs-card {
    box-shadow: $shadow-hover;
    padding: $grid-gutter-width 6rem;
  }
}


///
/// Visible grid
///

.show-grid {
  .row {
    margin-bottom: $spacer;
  }

  div[class^='col-'] {
    padding-top: $spacer;
    padding-bottom: $spacer;
    text-align: center;
    color: #fff;
    background-color: $teal-125;
    border: $border-width solid #fff;

    // + div[class^='col-'],
    // + div[class*='col-'] {
    //   border-left: 1px solid #fff;
    // }
  }
}



///
/// Icons
///

.docs-icon-container {
  display: flex;
  flex-wrap: wrap;
}

.docs-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: ($spacer * 2) $spacer;
  background-color: $neutral;
  border: 1px solid #fff;
  transition: all $transition-fast;

  @include media-breakpoint-down(sm) {
    width: percentage(1 / 2);
  }

  @include media-breakpoint-only(md) {
    width: percentage(1 / 3);
  }

  @include media-breakpoint-up(lg) {
    width: percentage(1 / 5);
  }

  &:hover {
    background-color: $blue;
    color: #fff;
  }

  .icon {
    width: 30%;
    font-size: $font-size-h2;
    text-align: center;
  }
}

.docs-icon-name {
  // padding-top: $spacer;
}

///
/// Vertical navbar
///

.docs-example-rendered .sidebar {
  position: absolute;
  margin-top: 2.35rem;
}


///
/// Home page
///
.home-header {
  @extend .docs-section;
  background-color: $neutral;
}


