///
/// Page Layout
///

$docs-sidebar-width: 25%;

html,
body {
  height: 100%;
}

.docs-sidebar {
  background-color: $charcoal-dark;

  @include media-breakpoint-up(sm) {
    position: fixed;
    top: 0;
    left: 0;
    width: $docs-sidebar-width;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    + .docs-content {
      margin-left: $docs-sidebar-width;
    }
  }
}

.docs-content {
  min-height: 100%;
}


///
/// Page subnavigation
///

.docs-page-nav {
  padding-top: $spacer;
  padding-left: $grid-gutter-width;
}

.docs-page-nav-item {
  list-style-type: none;

  > a {
    display: inline-block;
    padding-top: $spacer-y / 3;
    padding-bottom: $spacer-y / 3;
    color: #fff;
    font-weight: $font-light;
  }

  &.active > a {
    color: $teal;
    font-weight: $font-normal;
  }
}

///
/// Documentation sections
///

.docs-section {
  padding-top: $spacer;
  padding-bottom: $spacer;

  > h2 {
    margin-bottom: $spacer;
  }

  > h3 {
    padding-top: $spacer;
  }
}

/// Title and description

.docs-section-title,
.docs-section-description {
  font-family: $font-family-sans-serif;
}

///
/// Examples
///

.docs-example-intro {
  @include media-breakpoint-only(sm) {
    width: percentage(1 / 3);
  }
  @include media-breakpoint-up(md) {
    width: 25%;
  }
}

.docs-example-title,
.docs-example-label {
  font-weight: $font-semi-bold;
  text-transform: uppercase;
}

.docs-example-title::before {
  display: block;
  margin-bottom: 1rem;
  content: '';
  width: 2rem;
  height: $border-width * 3;
  background-color: $teal;
}

.docs-example-half,
.docs-example-third,
.docs-example-fourth {
  @include media-breakpoint-up(sm) {
    display: flex;
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;

    .docs-example-rendered,
    .docs-example-code {
      padding: $grid-gutter-width / 2;
    }

  }
}

@include media-breakpoint-up(sm) {
  .docs-example-half {
    .docs-example-rendered,
    .docs-example-code {
      flex: 0 0 50%;
    }
  }

  .docs-example-third {
    .docs-example-rendered {
      flex: 0 0 percentage(1 / 3);
    }
    .docs-example-code {
      flex: 0 0 percentage(2 / 3);
    }
  }

  .docs-example-fourth {
    .docs-example-rendered {
      flex: 0 0 25%;
    }
    .docs-example-code {
      flex: 0 0 75%;
    }
  }


}

.docs-example-rendered {
  position: relative;
  padding-top: $spacer;
  padding-bottom: $spacer;
}

.docs-example-code {
  margin-bottom: $spacer;
  overflow-x: auto;
}


///
/// Color palette
///

.docs-color-block {
  position: relative;
  float: left;
  width: percentage(1 / 6);
  // margin-bottom: $spacer;
  height: 10rem;

  .docs-color-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: ($spacer / 2) $spacer;
    // font-weight: 600;
    color: #fff;
    background-color: rgba($charcoal-darker,.5);
  }
}

///
/// Visible grid
///

.show-grid {
  .row {
    margin-bottom: $spacer;
  }

  div[class^='col-'] {
    padding-top: $spacer;
    padding-bottom: $spacer;
    text-align: center;
    color: #fff;
    background-color: $charcoal;
    border: $border-width solid #fff;

    // + div[class^='col-'],
    // + div[class*='col-'] {
    //   border-left: 1px solid #fff;
    // }
  }
}



///
/// Icons
///

.docs-icon-container {
  display: flex;
  flex-wrap: wrap;
}

.docs-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: ($spacer * 2) $spacer;
  background-color: $neutral;
  border: 1px solid #fff;
  transition: all $transition-fast;

  @include media-breakpoint-down(sm) {
    width: percentage(1 / 2);
  }

  @include media-breakpoint-only(md) {
    width: percentage(1 / 3);
  }

  @include media-breakpoint-up(lg) {
    width: percentage(1 / 5);
  }

  &:hover {
    background-color: $blue;
    color: #fff;
  }

  .icon {
    width: 30%;
    font-size: $font-size-h2;
    text-align: center;
  }
}

.docs-icon-name {
  // padding-top: $spacer;
}
