
html,
body {
  height: 100%;
}

.docs-content {
  //
}

// Each category, e.g. 'buttons'
.docs-section {
  padding-top: $spacer;
  padding-bottom: $spacer;

  h2 {
    margin-bottom: $spacer;
  }
}

.docs-example-rendered {
  padding-top: $spacer;
  padding-bottom: $spacer;
}

.docs-example-code {
  margin-bottom: $spacer * 2;
}
