$docs-btn-home-color: $atmosphere-300;

///
/// Login
///
.login-overlay {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  .login {
    background-color: rgba(255,255,255,.96);
    border-radius: 1%;
    box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    .loading-indicator {
      align-self: center;
    }
  }
  .login:hover{
    margin-left: -2px;
    margin-top: -2px;
    box-shadow: 0 14px 28px rgba(204,204,204,0.25), 6px 10px 10px rgba(204,204,204,0.22);
  }
}

.blur {
  filter: blur(2.5px);
}

///
/// Page layout
///

.docs-home,
.docs-home-header {
  height: 100%;
}

.docs-home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


///
/// Headings
///

.docs-home-title,
.docs-home-description {
  color: $white;
}

.docs-home-title {
  font-size: 4rem;
  margin-bottom: 0;
}

.docs-home-description {
  margin-bottom: 3.5rem;
  font-size: $font-size-lg;
}

///
/// Button styling
///

.docs-btn-home {
  border: $border-width solid $docs-btn-home-color;
  color: $docs-btn-home-color;
  width: 10.625rem;

  &:hover,
  &:active {
    border-color: $gray-100;
    color: $gray-100;
  }

  &.docs-btn-secondary {
    border-color: $gray-100;
    color: $gray-100;

    &:hover,
    &:active {
      border-color: $docs-btn-home-color;
      color: $docs-btn-home-color;
    }
  }

  & + & {
    margin-left: $grid-gutter-width-base;
  }
}

.docs-home {
  .docs-footer {
    justify-content: flex-end;
  }
}
