$docs-max-width: 71.25rem + $docs-sidebar-width;

.container {
  @include media-breakpoint-only(xl) {
    max-width: $docs-max-width;
  }
}

.docs {
  position: relative;
  padding-top: $navbar-sm-height;
  @include media-breakpoint-up(sm) {
    padding-top: $navbar-height;
  }
}

.docs-content {
  max-width: $docs-max-width;
}

.docs-sidebar {
  @include media-breakpoint-up(md) {
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;


    + .docs-content {
      margin-left: $docs-sidebar-width + 1rem;
    }
  }
}
