$max-width-number: (map-get($container-max-widths, 'xl') / 16px);
$docs-max-width: #{$max-width-number}rem;

.docs {
  position: relative;
  padding-top: $navbar-height;
}

.docs-content {
  max-width: $docs-max-width;
}

.docs-sidebar {
  @include media-breakpoint-up(md) {
    position: fixed;
    top: $navbar-height;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;


    + .docs-content {
      margin-left: $docs-sidebar-width;
    }
  }
}