///
/// Variables
///

// Colors
$background:        #f5f5f5;
$tag:               $blue;
$attr-name:         $teal;
$attr-value:        $atmosphere;
$contents:          $charcoal;
$comments:          $gray;

///
/// Classes
///

.highlight {
  padding: $spacer;
  margin-bottom: 0;
  background-color: $background;
  border: 1px solid $gray;
  color: $contents;

  pre {
    margin-bottom: 0;
  }

  .nt {
    color: $tag;
  }

  .na {
    color: $attr-name;
  }

  .s {
    color: $attr-value;
  }

  .c {
    color: $comments;
  }

}
